@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

:root {
  --color-red: hsl(0, 78%, 62%);
  --color-cyan: hsl(180, 62%, 55%);
  --color-orange: hsl(34, 97%, 64%);
  --color-blue: hsl(212, 86%, 64%);
  --color-white: #fff;
  --dark-blue: hsl(234, 12%, 34%);
  --grayish-blue: hsl(229, 6%, 66%);
  --light-gray: hsl(0, 0%, 98%);
}

/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--light-gray);
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  color: var(--grayish-blue);
  line-height: 1.6;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header,
.centered-paragraph {
  text-align: center;
}

h1 {
  color: var(--dark-blue);
  font-weight: 200;
  margin: 3rem 0 1rem;
}

h2 {
  color: var(--dark-blue);
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.emphasized-text {
  display: block;
  font-weight: 600;
}

.text-container {
  margin-bottom: 3rem;
}

.centered-paragraph {
  margin: 0 auto;
  width: 500px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.column-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.sections {
  background-color: var(--color-white);
  border-radius: 5px;
  width: 340px;
  height: 240px;
  padding: 2rem;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.supervisor {
  border-top: 5px solid var(--color-cyan);
}

.team-builder {
  border-top: 5px solid var(--color-red);
}

.karma {
  border-top: 5px solid var(--color-orange);
}

.calculator {
  border-top: 5px solid var(--color-blue);
}

.section-text p {
  font-size: 0.8rem;
}

.section-icon {
  align-self: flex-end;
}

.icon {
  margin-top: 2rem;
}

/* Footer Section */
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

/* Media Queries */
@media screen and (max-width: 1100px) {
  .container {
    flex-direction: column;
  }
}

@media screen and (max-width: 500px) {
  h1 {
    font-size: 1.6rem;
    margin: 4rem 0 1rem;
  }
  .centered-paragraph {
    width: 320px;
    margin: 0 auto;
    font-size: 1rem;
  }

  .sections {
    width: 310px;
  }

  footer {
    margin-top: 3rem;
  }
}